@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,400;0,500;0,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* .bgImg {
  background-image: url("../public/bg.jpg") no-repeat;
  height: 100vh;
} */
* {
  scroll-behavior: smooth;
}
.logo {
  background: url(../public/logo.PNG) no-repeat center/cover;
  height: 100vh;
  /* background-size: contain; */
}
.imgup {
  animation: imgup 0.7s ease-in-out infinite alternate;
}
.imgdown {
  animation: imgup 0.7s ease-in-out infinite alternate-reverse;
}
@keyframes imgup {
  to {
    transform: translatey(-10px);
  }
}

.box2 {
  width: 400px;
  height: 400px;
  background: linear-gradient(
    312deg,
    rgba(240, 161, 14, 0.634) 0%,
    rgba(246, 108, 138, 0.688) 100%
  );
  border-radius: 100%;
  /* transform: translate(240px, -90%); */
  animation: color-change-3x 18s linear infinite alternate-reverse backwards;
}
@keyframes color-change-3x {
  0% {
    background: #d1ee7a;
    transform: translate(190%, -120%);
  }
  100% {
    background: #fdb692;
    /* transform: translate(170%, 50%); */
  }
}

.box5 {
  width: 400px;
  height: 400px;
  background: linear-gradient(
    312deg,
    rgba(194, 122, 224, 0.53) 0%,
    rgba(108, 222, 237, 0.74) 100%
  );
  border-radius: 100%;
  transform: translate(40%, -100%);
  animation: color-change-6x 28s linear infinite alternate backwards;
}
@keyframes color-change-6x {
  0% {
    background: #64e3b9;
  }
  100% {
    background: #e8a786;
  }
}

.h1 {
  font-weight: 600;

  font-size: 4rem;
  -webkit-text-stroke: 1px #fff;
  color: white;
  text-shadow: 0 0 60px rgba(5, 5, 169, 0.59);
  font-family: "Archivo Black", sans-serif;

  animation: anime 1s infinite alternate;
}
@keyframes anime {
  100% {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
}
.wow {
  backdrop-filter: blur(5px);
}
.wow2 {
  backdrop-filter: blur(10px);
}
.wow3 {
  backdrop-filter: blur(100px);
}

.h {
  -webkit-text-stroke: 1px #fff;
  font-family: "Archivo Black", sans-serif;
  transition: all 0.4s ease-in-out;
}
.hebo {
  font-family: "Heebo", sans-serif;
}

.p {
  font-family: "Space Grotesk", sans-serif;
}
.ani {
  box-shadow: 0, 2px rgba(5, 5, 169, 0.631);

  animation: anim 2s infinite alternate;
}
@keyframes anim {
  100% {
    box-shadow: rgba(212, 15, 15, 0.391) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(198, 5, 5, 0.287) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(6, 21, 183, 0.312) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
