@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fjalla+One&family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.bgImg {
  background: url(https://www.racksolutions.com/news//app/uploads/AdobeStock_87909563.jpg)
    no-repeat center/cover;
  /* height: 100vh; */
  /* background-size: contain; */
}
.h1 {
  font-weight: 600;

  font-size: 4rem;
  -webkit-text-stroke: 1px #fff;
  color: white;
  text-shadow: 0 0 60px rgba(5, 5, 169, 0.59);
  font-family: "Archivo Black", sans-serif;

  animation: anime 1s infinite alternate;
}
@keyframes anime {
  100% {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
}
.wow {
  backdrop-filter: blur(5px);
}
/* .h {
  font-stretch: condensed;
}
.h:hover {
  font-stretch: wider;
} */
.h {
  -webkit-text-stroke: 1px #fff;
  font-family: "Archivo Black", sans-serif;
  transition: all 0.4s ease-in-out;
}
.p {
  font-family: "Archivo Black", sans-serif;
}
.ani {
  box-shadow: 0, 2px rgba(5, 5, 169, 0.631);

  animation: anim 2s infinite alternate;
}
@keyframes anim {
  100% {
    box-shadow: rgba(212, 15, 15, 0.391) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(198, 5, 5, 0.287) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(6, 21, 183, 0.312) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
